<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/frontend :: head(title='API')}">

</head>
<body>
<link href="/css/custom.css" rel="stylesheet" type="text/css">
<nav th:replace="~{fragment/frontend :: navigation}"></nav>
<header class="masthead" style="background-image: url('/image/img/api-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Share our food</h1>
                    <!--                    <span class="subheading">A Blog Theme by Start Bootstrap</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container px-4 px-lg-5">
        API url: <p><code>/api/foodreview</code></p>
        <h3>Post</h3>
        <p>GET <code>/post</code></p>
        <div class="small">
            <label for="query-string">Query String</label>
            <table id="query-string" class="table table-striped  table-hover">
                <tr>
                    <td>text</td>
                    <td>string</td>
                    <td>return posts that contain text</td>
                    <td>optional</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>integer</td>
                    <td>return posts located in specified page</td>
                    <td>optinal</td>
                </tr>
            </table>
            <!--            exmaple-->
        </div>
        <p>GET <code>/post/{id}</code></p>
        <div class="small">
            <label for="param">Param</label>
            <table id="param" class="table table-striped  table-hover">
                <tr>
                    <td>:id</td>
                    <td>integer</td>
                    <td>return post having specified id</td>
                    <td>requied</td>
                </tr>
            </table>
            <!--            exmaple-->
        </div>
        <h3>Map</h3>
        <p>GET <code>/map</code></p>
        <div class="small">
            <table class="table table-striped  table-hover">
                <tr>
                    <td>return all locations in geojson format</td>
                </tr>
            </table>
            <!--            exmaple-->
        </div>
        <h3>Comment</h3>
        <p>GET <code>/comment/{post_id}</code></p>
        <div class="small">
            <label for="get-comment">Param</label>
            <table id="get-comment" class="table table-striped  table-hover">
                <tr>
                    <td>post_id</td>
                    <td>integer</td>
                    <td>return all comments of the post specified by post_id</td>
                    <td>requied</td>
                </tr>
            </table>
            <!--            exmaple-->
        </div>
        <p>POST <code>/comment/{post_id}</code></p>
        <div class="small">
            <label for="post-comment">Param</label>
            <table id="post-comment" class="table table-striped  table-hover">
                <tr>
                    <td>post_id</td>
                    <td>integer</td>
                    <td>send a comment to the post specified by post_id</td>
                    <td>requied</td>
                </tr>
            </table>
            <label for="body-comment">Body</label>
            <table id="body-comment" class="table table-striped  table-hover">
                <tr>
                    <td>content</td>
                    <td>string</td>
                    <td>required</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>string</td>
                    <td>required</td>
                </tr>
                <tr>
                    <td>contact</td>
                    <td>string</td>
                    <td>required</td>
                </tr>
            </table>
        </div>
    </div>
</main>

<footer th:replace="~{fragment/frontend :: footer}"></footer>
<div th:replace="~{fragment/frontend :: script}"></div>
</body>
</html>