<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/frontend :: head(title='Home')}">
</head>
<body>
<nav th:replace="~{fragment/frontend :: navigation}"></nav>

<header class="masthead" style="background-image: url('/image/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>talk <span style="font-size: 20px">about</span> Dishes</h1>
                    <!--                    <span class="subheading">A Blog Theme by Start Bootstrap</span>-->
                    <form action="/" method="get" onkeyup="blankCheck()">
                        <input type="text" name="text" placeholder="what you want to eat?" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div th:each="post : ${list}" class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a th:href="@{/post(id = ${post._id})}">
                        <h2 th:text="${post.title}" class="post-title">Man must explore, and this is exploration at its
                            greatest</h2>
                        <h3 class="post-subtitle"><span th:each="text : ${post.hashtags}"
                                                        th:text="'#'+ ${text} + ' '"></span></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <span th:text="${post.name}" href="#">Start Bootstrap</span>
                        <span th:text="'on ' + ${post.getDate()}">on September 24, 2021</span>
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4"/>
            </div>
        </div>
    </div>
</main>

<div class="p2">
    <ul style="display: flex; list-style-type: none; justify-content: center">
        <li style="padding: 10px;" th:if="${page} > 1"><a th:text="First" th:href="@{${url}(page = 1)}">First</a></li>
        <li style="padding: 10px;" th:if="${page} > 3"><a th:text="${page} -2"
                                                          th:href="@{${url}(page = ${page} -2)}">2</a></li>
        <li style="padding: 10px;" th:if="${page} > 2"><a th:text="${page} -1"
                                                          th:href="@{${url}(page = ${page} -1)}">2</a></li>
        <li style="padding: 10px; border-bottom: 2px solid #212529"><a th:text="${page}" class="is-active"
                                                                       href="#">3</a>
        </li>
        <li style="padding: 10px;" th:if="${page} < ${totalPages} - 2"><a th:text="${page}+1"
                                                                          th:href="@{${url}(page = ${page} + 1)}">4</a>
        </li>
        <li style="padding: 10px;" th:if="${page} < ${totalPages} - 1"><a th:text="${page}+2"
                                                                          th:href="@{${url}(page = ${page} + 2)}">4</a>
        </li>
        <li style="padding: 10px;" th:if="${page} < ${totalPages}"><a th:text="Last"
                                                                      th:href="@{${url}(page = ${totalPages})}">Last</a>
        </li>
    </ul>
</div>

<footer th:replace="~{fragment/frontend :: footer}"></footer>
<div th:replace="~{fragment/frontend :: script}"></div>
</body>
</html>