<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/frontend :: head(title='Video')}">
</head>
<body>
<nav th:replace="~{fragment/frontend :: navigation}"></nav>

<header class="masthead" style="background-image: url('/image/img/video-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Feed your eyes</h1>
                    <!--                                        <span class="subheading">A Blog Theme by Start Bootstrap</span>-->
                </div>
            </div>
        </div>
    </div>
</header>

<!--tiktok-->
<div class="container">
    <h3>TikTok</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@beptruongreview/video/6999140623743798555"
                        data-video-id="6999140623743798555" style="max-width: 605px;min-width: 325px;">
                <section><a target="_blank" title="@beptruongreview" href="https://www.tiktok.com/@beptruongreview">@beptruongreview</a>
                    <p>Heo queo siêu giòn bì ASMR - hấp dẫn thì ❤️ cái để lấy động lực pha thêm sốt chấm đồ quay nha 🤣
                        <a title="beptruongreview" target="_blank" href="https://www.tiktok.com/tag/beptruongreview">##beptruongreview</a>
                        <a title="vtmgr" target="_blank" href="https://www.tiktok.com/tag/vtmgr">##vtmgr</a> <a
                                title="ancungtiktok" target="_blank" href="https://www.tiktok.com/tag/ancungtiktok">##AnCungTikTok</a>
                    </p> <a target="_blank" title="♬ original sound  - Bếp Trưởng Review"
                            href="https://www.tiktok.com/music/original-sound-Bếp-Trưởng-Review-6999140631670983451">♬
                        original sound - Bếp Trưởng Review</a></section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
        <div class="col">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@eatwpeach/video/6996627928020733210"
                        data-video-id="6996627928020733210" style="max-width: 605px;min-width: 325px;">
                <section><a target="_blank" title="@eatwpeach" href="https://www.tiktok.com/@eatwpeach">@eatwpeach</a>
                    <p>Kẹo nho pha lê lấp la lấp lánh xinh xỉu ạ 🥰 <a title="eatwpeach" target="_blank"
                                                                       href="https://www.tiktok.com/tag/eatwpeach">##eatwpeach</a>
                        <a title="wezmedia" target="_blank" href="https://www.tiktok.com/tag/wezmedia">##wezmedia</a> <a
                                title="vtmgr" target="_blank" href="https://www.tiktok.com/tag/vtmgr">##vtmgr</a></p> <a
                            target="_blank" title="♬ Mii! - VooDoo"
                            href="https://www.tiktok.com/music/Mii-6793598114851719170">♬ Mii! - VooDoo</a></section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
        <div class="col">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ansaphanoi/video/6923501636325297410"
                        data-video-id="6923501636325297410" style="max-width: 605px;min-width: 325px;">
                <section><a target="_blank" title="@ansaphanoi"
                            href="https://www.tiktok.com/@ansaphanoi">@ansaphanoi</a>
                    <p>Thịt quay số 3 Thể Giao, 34k&#47;lạng, 16h-20h <a title="ansaphanoi" target="_blank"
                                                                         href="https://www.tiktok.com/tag/ansaphanoi">##ansaphanoi</a>
                        <a title="tiktokfood" target="_blank"
                           href="https://www.tiktok.com/tag/tiktokfood">##tiktokfood</a> <a title="foodie"
                                                                                            target="_blank"
                                                                                            href="https://www.tiktok.com/tag/foodie">##foodie</a>
                        <a title="tiktokfoodie" target="_blank" href="https://www.tiktok.com/tag/tiktokfoodie">##tiktokfoodie</a>
                        <a title="reviewfood" target="_blank"
                           href="https://www.tiktok.com/tag/reviewfood">##reviewfood</a> <a title="foryourpage"
                                                                                            target="_blank"
                                                                                            href="https://www.tiktok.com/tag/foryourpage">##foryourpage</a>
                        <a title="bkx" target="_blank" href="https://www.tiktok.com/tag/bkx">##bkx</a> <a title="food"
                                                                                                          target="_blank"
                                                                                                          href="https://www.tiktok.com/tag/food">##food</a>
                        <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp">##fyp</a></p> <a
                            target="_blank" title="♬ nhạc nền  - Ăn Sập Hà Nội"
                            href="https://www.tiktok.com/music/nhạc-nền-Ăn-Sập-Hà-Nội-6923501636878945026">♬ nhạc nền -
                        Ăn Sập Hà Nội</a></section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
        <div class="col">
            <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@tieumanthaune/video/6918278723015888129"
                        data-video-id="6918278723015888129" style="max-width: 605px;min-width: 325px;">
                <section><a target="_blank" title="@tieumanthaune" href="https://www.tiktok.com/@tieumanthaune">@tieumanthaune</a>
                    <p>📌 Nem rán Bà cụ - Cổng trường Thành Công, Ba Đình. Giá 5k - 10k (14h00 - 18h00) <a
                            title="tieumanthau" target="_blank" href="https://www.tiktok.com/tag/tieumanthau">##tieumanthau</a>
                        <a title="tiktokfoodie" target="_blank" href="https://www.tiktok.com/tag/tiktokfoodie">##tiktokfoodie</a>
                        <a title="foodreview" target="_blank"
                           href="https://www.tiktok.com/tag/foodreview">##foodreview</a> <a title="fyp" target="_blank"
                                                                                            href="https://www.tiktok.com/tag/fyp">##fyp</a>
                        <a title="nemchua" target="_blank" href="https://www.tiktok.com/tag/nemchua">##nemchua</a></p>
                    <a target="_blank" title="♬ nhạc nền  - Tiểu Màn Thầu"
                       href="https://www.tiktok.com/music/nhạc-nền-Tiểu-Màn-Thầu-6918278729353808642">♬ nhạc nền - Tiểu
                        Màn Thầu</a></section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
    </div>
</div>
<!--youtube-->
<div class="container">
    <h3>Youtube</h3>
    <div class="row">
        <div class="col">
            <iframe src="https://www.youtube.com/embed/6Tf8OULB3iw" width="560" height="315" frameborder="0"></iframe>
        </div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/EuySE6259wQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/ELIekcnsxtg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/ub1WfnpqXFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
</div>
<footer th:replace="~{fragment/frontend :: footer}"></footer>
<div th:replace="~{fragment/frontend :: script}"></div>
</body>
</html>