.post-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.post {
    transform: translate(0%, 0%);
    font-size: 0;
    margin: 10px;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.post img {
    width: 100%;
    height: 100%;
}

.post:before {
    content: "";
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.post .links {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;
    transition: 0.2s;
}

.post a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.post span {
    font-size: 16px;
}

.post:hover:before {
    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
}

.post:hover .links {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .post {
        width: 100%;
        height: 100%;
    }
}